# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Show Data Science tool 
- Show Math operation 
- Show Some of Libraries in Data Science

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sala

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matlab

|Data Science Tools| 
| --- |
| Hadoop |
| Spark |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [10]:
Min = 200
Hours = 200/60
print(Hours)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author 
Ehab Mohamed Wafik